{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the reservation Page</h1>

                {{/* <img src="/static/images/thf.jpg" height="1330" width="2364" /> */}}
            </div>
        </div>
    </div>
{{end}}